################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArtemisManager/obj
*.user
/AMCommunicator/obj
/AMCommunicator/bin
/AMCommunicatorTests/bin
/AMCommunicatorTests/obj
/ArtemisManager/bin
/ArtemisManagerUI/bin
/ArtemisManagerUI/obj
/ArtemisManagerAction/bin
/ArtemisManagerAction/obj
/VersionBump/bin
/VersionBump/obj
/ArtemisManagerActionTests/bin
/ArtemisManagerActionTests/obj
/Deploy/obj
/ArtemisManagerSetup/Debug
/Deploy/bin
/AretmisManager_UninstallCleanup/obj
bin
obj
