<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtemisManagerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArtemisManagerUI.Properties.Settings>
            <setting name="ModInstallFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIPOrName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAMaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetworkPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArtemisInstallFolder" serializeAs="String">
                <value>C:\Program Files (x86)\Artemis</value>
            </setting>
            <setting name="ArtemisServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtemisPort" serializeAs="String">
                <value>2010</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>2011</value>
            </setting>
        </ArtemisManagerUI.Properties.Settings>
    </userSettings>
</configuration>